@import "base";
@import "components/container";
@import "common/header";
@import "studio/hero";
@import "studio/modal";
@import "studio/advantages";
@import "studio/work"; 
@import "studio/team";
@import "studio/clients";
@import "common/footer";
@import "portfolio/buttons";
@import "portfolio/card-set";
