.site__site-title {
  color: var(--black-text);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.site__site-text {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card-set {
  
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;
  
  display: flex;
  justify-content: center;

}


&:not(:last-child) {
  margin-right: 8px;
}

.item-portfolio .button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.site {
  padding: 0; 
  margin: 0; 

  display: flex;
  flex-wrap: wrap;

  margin-left: calc( -1 * var(--card-set-gap));
  margin-top: calc( -1 * var(--card-set-gap));
}

.site__site-card {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

&:hover,
&:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

&:hover .hover-box {
  transform: translateY(0);
}

.site img {
  width: 100%;
  height: 100%;
}

.card-thumb { 
  height: 294px;
  margin: 0;

  position: relative;
  overflow: hidden;

} 


.card-content {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1) ;
  border-top: 0;
}

.site__text-hover {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-text);

  padding: 63px 24px;

}

.hover-box {
  background-color: var(--background-blue);
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition: transform 250ms var(--timing-function);

}

.site__link {
  text-decoration: none;
}

