.footer {
  padding-top: 60px;
  padding-bottom: 60px;

}

.footer-container { 
  @media screen and (max-width: 767px){
    display: block;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  @media  screen and (min-width: 1200px) {
    align-items: center;
    flex-wrap: nowrap;
    text-align: left;
    justify-content: space-between;

    
    // display: flex;

    // align-items: baseline;
    // justify-content: space-between;
  }
}

/* FOOTER1 */

.footer-name {
  padding-left: 15px;

  // @media  screen and (min-width: 480px), (max-width: 480px) {
  //   display: block;
  //   text-align: center;
  // }
}

.footer-list {
  margin: 0;
  padding-left: 15px;
}

.footer {
  background-color: var(--background-black);
  letter-spacing: 0.03em;
  
}

.footer-name__footer-logo {
  color: var(--blue-text);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  
  letter-spacing: 0.03em;
  text-align: none;
  text-decoration: none;

  @media  screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media  screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    display: flex;
    
  }

} 

.footer-name__footer-span {
  color: var(--white-text);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media  screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media  screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    display: flex;
    
  }
}

.footer1__footer-address {
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media  screen and (max-width: 1199px)  {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  @media  screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 9px;
    padding-left: 15px;

    
  }
}

.footer-list__link {
  color: var(--white-text-op60);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--blue-text);}

  @media screen and (min-width: 1200px) {
    // flex-direction: column-reverse;
    // float: left; 
  }

}

// .footer-list {
//   @media  screen and (max-width: 767px) {
//     display: block;
//     text-align: center;
//     margin-bottom: 8px;
//   }

// }

/* FOOTER 2 */

.footer2 {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
} 

.footer2__join-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--white-text);
  margin-bottom: 20px; 

  @media  screen and (max-width: 767px) {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 0;

  }

  @media screen and (min-width: 1200px) {
    text-align: left;
   
  }
}

.join-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 210px;
  justify-content: space-between;

  @media  screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 125px;
  }


  @media screen and (min-width: 1200px) {
    position: relative;
    
  }
}

.join-list__join-link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  transition: background-color 250ms var(--timing-function);

  &:focus,
  &:hover {
    background-color: var(--blue-text);}

}

.join-list__join-site {
  fill: var(--white-text);
}

/* FOOTER 3 */

.footer3 {
  @media  screen and (min-width: 1200px) {
    margin-left: 64px;
  }

  @media  screen and (min-width: 768px) {
    display: flex;
    text-align: center;
  }
}

.footer3__sign {
  
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal; 
  font-size: 14px; 
  line-height: 16px; 
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text);

  @media  screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }

  @media  screen and (min-width: 768px) {
    margin-top: 60px;
    display: block;
    text-align: center;
  }

  @media  screen and (min-width: 1200px) {
    margin-bottom: 20px;
    text-align: left;
    margin-top: 0;
  }
}

.footer3__input {
  

  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--background-black);
  outline: none;

  padding: 15px 16px;
  margin-right: 12px;

  color: rgba(255, 255, 255, 0.6);

  @media  screen and (max-width: 767px) {
    width: 450px;
  }

  @media  screen and (max-width: 1199px) {
    width: 450px;
    display: flex;
    flex-direction: column;
  }

  @media  screen and (min-width: 1200px) {
    width: 358px;
  }

}

.footer3__button-footer {
  color: var(--white-text);
  background-color: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  padding: 10px 28px 10px 29px;

  border-radius: 4px;
  border: none;
  outline: none;
  width: 200px;

  @media  screen and (max-width: 767px) {
    margin-top: 20px;
  }

  @media  screen and (max-width: 1199px) {
    margin-top: 20px;
    
  }
}

.footer3__button-footer {
  display: inline-flex;
  align-items: center;
}

.footer3__icon-footer {
  right: 28px; 
  top: 50%;
  transform: translateY(-50%);
  fill: var(--white-text);
  position: absolute;

  @media  screen and (max-width: 1199px) {
    margin-top: 10px;
    
  }

}

.footer-subscribe {
  display: inline-flex;
  align-items: center;
  position: relative;
}