.advantages {
  padding-top: 94px ;
  padding-bottom: 90px;
}

.advantages-list__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16,41px;
  letter-spacing: 0.02em;
  color: var(--black-text);

  padding-bottom: 10px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
}
  
.advantages-list__advantages-images {
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-right: 30px;
  margin-bottom: 30px;

  display: flex;

  background-color: var(--background-white);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list__advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-list__item {
  width: 270px;

}

&:not(:last-child) {
  margin-right: 30px;
}

.advantages-list__text {
  color: var(--grey-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}