.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);

  opacity: 1; 

  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: background-color 250ms var(--timing-function);

  width: 528px;
  height: 581px;
  background-color: var(--white-text);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 8px;
  left: 100%;
  transform: translateX(-38px); 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

&:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  fill: var(--blue-text);
}

/* стилизация форм модального окна*/

.modal-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.17;
  color: var(--black-text);

  margin-top: 0px;
  margin-bottom: 12px;
}


.signup-form__input-modal {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px; 
  padding-left: 42px; 
  font-family: Roboto, sans-serif;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  
}

&:focus {
  border-color: var(--blue-text);
}

&:focus + .signup-form__icon-modal {
  fill: var(--blue-text);
}


.signup-form .group-modal {
  display: flex;
  flex-direction: column;
  color: var(--grey-text);
  font-size: 12px;

}

.signup-form__name{
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400; 
  font-size: 12px;
  line-height: 1.17;
  color: var(--grey-text);
  
}

.input-wrapper-modal{
  position: relative;

  margin-bottom: 10px;

  margin-top: 4px;

}

.signup-form__icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

}

.signup-form__textarea {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400; 
  font-size: 12px;
  line-height: 1.17;
  padding: 12px 16px;
  outline: none;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  margin-top: 4px;

  height: 120px;
  
}

.signup-form__textarea:focus {
  border-color: var(--blue-text);
}

.check-modal {
  display: inline;
}

.signup-form__span {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  background-color: var(--background-white);
  border-radius: 4px;
  margin-right: 8px;
}

.signup-form__form-check {
  display: inline-block;
  align-items: center;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400; 
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--grey-text);

  text-align: center;

  margin-left: 14px; 
} 

.signup-form__checkbox:checked +.signup-form__span {
  background-color: var(--background-blue);
  border-color: var(--blue-text);
  background-image: url(../images/check-box.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;

}

.signup-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.signup-form__checkbox:focus {
  fill: var(--blue-text);
}

.signup-form__check-link {
  color: var(--blue-text);
}

.signup-form__button-modal2 {
  font-family: Roboto, sans-serif;
  color: var(--white-text);
  background-color: var(--blue-text);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;

  border-radius: 4px;

  width: 200px;
  height: 50px;

  margin-left: 125px;

}