.work {
  padding-bottom: 94px;
}

.work-list,
.work__title-w-t {
  display: flex;
}

.work__title-w-t {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--black-text);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

}

.work-list__work-images {
  width: 370px;
}

.work-list {
  margin-top: 0;
  justify-content: space-between;
}

.work-list__work-images {
  position: relative;
}

&:not(:last-child) {
  margin-right: 30px;
}

.work-list__overlay {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  margin: 0px;

  font-weight: 700;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);;
}
